textarea, input, button, select, textarea {
    outline: none;
}

form {
    position:relative;
    display:block;
    width:100%;
}

label {
    margin-bottom:10px;
    text-align: left;
}

fieldset {
    display:inline-block;
    border:none;
    margin:0 0 15px;
    padding:0;
    width:100%;
    position: relative;

    &.long {
      p {
        padding:0 3%;
      }
    }

    &.half {
        width:49%;
    }

    &.nationalities > div {
      display: inline-block;
      width: auto;
    }
}

select {
    width:100%;
    height:40px;
    padding:0 10px;
    border:solid 1px $quinaryColor;

    &:focus::-ms-value {
      background: transparent;
      color: inherit;
    }
}

input[type="text"], input[type="number"]  {
    height:40px;
    width:96%;
    padding:0 2%;
    border-radius:2px;
    border:solid 1px $quinaryColor;

    &.short {
      width:20%;
    }

    &::-ms-clear {
      display: none;
    }
}

textarea {
    width:98%;
    display:inline-block;
    padding:20px 1%;
    min-height:250px;
    font-family: $primaryFont;
    border:solid 1px $quinaryColor;
}

button[type="submit"] {
    cursor:pointer;
}

.accordion-item  input[type="text"]{
    width:94%;
}

.error {
  display:inline-block;
  margin-bottom:10px;
  color:$warning;

  position: absolute;
  transform: translateY(-110%);
  background: #f5f5f5;
  border: 1px dotted #bbb;
  padding: 0.5em;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);

  @include font-size(10);

  & + input[type="text"], & + textarea, & + .select-container {
    border-color:$warning;
  }
}

.clear-field {
  position: absolute;
  bottom: 9px;
  right: 30px;
  width:20px;
  height:20px;
  cursor:pointer;
}
/* =======================================================
====================== Checkboxes ========================
======================================================= */

.checkbox {

  input {
      visibility: hidden;/* <-- hide the default checkbox, the rest is to hide and alllow tabbing, which display:none prevents */
      display:block;
      height:0;
      width:0;
      position:absolute;
      overflow:hidden;
    }

    em {/* <-- style the artificial checkbox */
      height: 20px;
      width: 20px;
      border:solid 1px $quinaryColor;
      display: inline-block;
      vertical-align: top;
      background:$white;
    }

    .checkbox-label {
      width:90%;
      vertical-align: middle;
      padding:0 0 12px 10px;
    }

    [type=checkbox]:checked + em {/* <-- style its checked state */
        color:$white;
        background:$secondaryColor;
        @include transition(background-color 0.25s linear);

        &:after {
            content:"\E5CA";
            font-family: $iconFont;
            @include font-size(14);
            line-height:1;
        }
    }
}

.checkbox-container {
  &.button {
    position:relative;;
    background:$white;
    border:solid 1px $primaryColor;
    padding:0;
    text-transform: uppercase;

    em {
      width: 100%;
      z-index: 0;

      &:after {
        content:"Open";
        position:absolute;
        top:2px;
        left:0;
        right:0;
        margin:auto;
        text-align: center;
      }
    }
    [type=checkbox] {
      position: relative;
      display:block;
      opacity:0;
      z-index: 400;
      width: 100px;
      height:27px;
      cursor:pointer;
    }
    [type=checkbox]:checked + em {
      &:after {
        content:"\E5CD";
        position:absolute;
        top:2px;
        left:0;
        right:0;
        margin:auto;
        text-align: center;
      }
    }
  }
}

/* =======================================================
====================== Radio Buttons =====================
======================================================= */

radiogroup {

  &.full  {
    .radio-block {
      display: block;
    }
  }

  .radio-block {
    position:relative;
    display:inline-block;
  }

  input[type="radio"] {
    position:absolute;
    top:13px;
    left:15px;
    z-index: 30;
  }
}

input[type="radio"] {

    & + label {
        display:inline-block;
        margin:0;
        vertical-align:middle;
        padding:5px 30px 10px 40px;
        cursor:pointer;
        color:$white;
        background-color:$buttonBlue;
        border:solid 2px $buttonBlue;
        @include transition(background-color 0.25s linear);

        .long & {
          width:94%;
          padding:5px 3% 10px;
        }

        &.radio-block {
          display: block;
        }
    }

    & + label:hover {
      background-color:$sixnaryColor;
      background:$white;
      color:$quartenaryColor;
      border:solid 2px $buttonBlue;
    }

    &:checked {
        & + label {
            background-color:$sixnaryColor;
            background:$white;
            color:$quartenaryColor;
            border:solid 2px $buttonBlue;
            @include transition(background-color 0.25s linear);
        }
    }
}


/* ========================================================
================== Toggle Buttons =========================
======================================================== */
.toggle-button + fieldset {
  width: 25px;
}

.toggle-button  {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    @include transition(background-color 0.25s linear);
}

.toggle-button label {
    float: left;
    margin: 0px;
    width: auto;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    @include transition(background-color 0.25s linear);
}

.toggle-button label span {
    text-align:center;
    padding:5px 10px;
    display:block;
    border-radius:4px;
}

.toggle-button  label input {
    position:absolute;
    z-index: -1;
}

.toggle-button  input:hover + span {
    background-color:$buttonBlue;
    @include transition(background-color 0.25s linear);
}

.toggle-button  input:checked + span {
    background-color:$buttonBlue;
    color:#fff;
    @include transition(background-color 0.25s linear);
}

.toggle-button  input:checked + span:after {
    content:none;
    @include transition(background-color 0.25s linear);
}

.toggle-button  input:checked:hover + span {
    background-color:$buttonBlue;
    color:#fff;
    @include transition(background-color 0.25s linear);
}

.height-search-input div {
  display:inline-block;
}

.height-search-input input {
  height: 35px;
  border: 1px solid #cccccc;
  padding: 2.5px;
  width: 75px;
}

#height-input-feet, #height-input-inches, #height-input-range-inches {
  // display: none;
}


/* ========================================================
==================== Dropdowns ===========================
========================================================== */

[type=checkbox]:checked + span {/* <-- style its checked state */
    color:$white;
    background:$secondaryColor;
    @include transition(background-color 0.25s linear);

    &:after {
        content:"\E5CA";
        font-family: $iconFont;
        @include font-size(17);
        line-height:1;
    }
}

.select-container {
  position: relative;
  display: inline-block;
  border: 1px solid $grey;
  &::after {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 0;
    color: $secondaryColor;
    content: "\E313";
    font-family: $iconFont;
    @include font-size(20);
    right: 0px;
    top: 0px;
    // padding: 5px;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid $grey;
  }
}

select {
  position: relative;
  padding:0 48px 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  color:$primaryColor;
  z-index: 1;
  background: transparent;
  @include transition(background-color 0.25s linear);

  &::-ms-expand {
    display: none;
  }
}

select option {
  color: green;
}
