table {
    width:100%;
    border-collapse: collapse;

    th {
        padding:8px 15px;
    }

    td {
        padding:8px 15px;
    }

    tbody {
        margin-bottom:10px;
    }

    &.light {
      background:$white;
    }

    &.border {
        th {
            border-top:solid 1px $lightGrayBorder;
            border-bottom:solid 1px $lightGrayBorder;
            border-left:none;
            border-right:none;
        }

        td {
            border-bottom:solid 1px $lightGrayBorder;

        }
    }
}
