

    .react-tabs__tab {
        position:relative;
        display:inline-block;
        padding:3px 25px;
        text-align: center;
        color:$black;
        border-left:solid 1px $white;
        border-right:solid 1px $white;
        cursor: pointer;

        &.active, &.react-tabs__tab--selected {
            border-bottom:solid 5px $tabUnderline;
            font-weight:$bold;

            &:after {
                content:"";
                display:block;
                width:100%;
                height:1px;
                position:absolute;
                bottom:-1px;
                left:0;
                right:0;
                background:$sixnaryColor;
            }
        }

        &:hover {
          border-bottom:solid 5px $tabUnderline;

          &:after {
              content:"";
              display:block;
              width:100%;
              height:1px;
              position:absolute;
              bottom:-1px;
              left:0;
              right:0;
              background:$sixnaryColor;
          }
        }
    }


.tab-pane {
    padding:24px 16px 16px;
    overflow:hidden;
    border:solid 1px $quinaryColor;
}

.react-tabs__tab-list {
    display: inline-flex;
}
