/* App.js */
.container {
  border: 1px solid #F00;
}

/* Routes e.g. Home / Search / Consolidated View */
.page-home {
  border: 1px solid #FFA500;
}

/* sub pages e.g. stepper of search */
.page-home-sub {
  border: 1px solid #FFFF00;
}
