
html {
    font-size:$base-val;
    line-height:$base-val;
}

body {
    font-family:$primaryFont;
    @include font-size($base-font-size);
    font-weight:normal;
}

/* Paragraph Sizes */

p {
    margin:0 0 10px;
    font-family:$primaryFont;

    &.nospace {
      margin:0;
    }
}


/* Headings */

%headings {
    margin:0 0 10px 0;
    color:$primaryColor;
    font-family:$primaryFont;
    font-weight:normal;
}

.page-header {
    h1 {
        margin:0 0 10px;
    }
}

h2 {
    &.beta {
        @include font-size(13);
        margin:0;
    }
}

.h_alpha {
    @extend %headings;
}

.text-upper {
    text-transform: uppercase;
}
