/* =======================================================
=================== Colours ==============================
======================================================= */

$primaryColor:              #1E2945;
$primaryColorSecondary:     #20466A;
$primaryColorTertiary:      #315576;

$secondaryColor:            #0086FF;
$secondaryColorSecondary:   #0066FF;
$secondaryColorTertiary:    #0076FF;

$tertiaryColor:             #CDDC39;
$quartenaryColor:           #424242;
$quinaryColor:              #CCCCCC;
$sixnaryColor:              #F5F5F5;

$black:                     #000;
$white:                     #fff;
$grey:                      #CCCCCC;

$valid:                     #389a4e;
$warning:                   #da0505;

/* -------------- Players Cards View -------------------*/
$purpleBorder:              rgb(158, 148, 196);
$headerLabel:               rgb(122, 138, 165);
$headerText:                rgb(76, 98, 129);
$lightGrayBorder:           rgb(219,225,234);

/* --------------------- Tabs --------------------------*/
$tabUnderline:              rgb(76,185,228);
$buttonBlue:                rgb(47,114,179);

/* ----------------- Error Box -------------------------*/
$errorBorder:               rgb(186,92,86);
$errorBackground:           rgb(254,243,247);

/* ----------------- Info Box -------------------------*/
$infoBorder:               rgb(55,154,78);
$infoBackground:           rgb(192, 242, 203);
