

/* =======================================================
=================== Site Paths ===========================
======================================================= */

$imgsrc: "../img";
$fontsrc: "../fonts";


/* =======================================================
=================== Typography ===========================
======================================================= */

// ---------------- Base Defaults ------------------------

// Global base values for sizing

$base-val: 62.5%;

// Base font size to be converted in px to ems

$base-font-size:14;

// Base line height

$base-line-height: $base-font-size * 1.25;

// Base font family

$base-font-family: sans-serif;



// ---------------- Font Definitions ---------------------

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

$primaryFont: "Roboto", Arial, sans-serif;
$iconFont: "Material Icons", Arial, sans-serif;

$baseFont: normal #{$base-font-size}px / #{$base-line-height}px $primaryFont;



/* =======================================================
=================== Weights ==============================
======================================================= */

$light:     200;
$reg:       400;
$bold:      600;
$bolder:    700;

/* =======================================================
=========== Base Media Query Breakpoints =================
======================================================= */

$mq-mob:            480px;
$mq-tab:            840px;

$mq-desk:           1280px;
$mq-desk-large:     1600px;
$mq-desk-xlarge:    1920px;

/* =======================================================
========================== Alignment =====================
======================================================= */

.align-right {
    text-align:right;
}

.align-left {
    text-align:left;
}

/* =======================================================
========================== Icon Fonts ====================
======================================================= */

i {
    font-family: $iconFont;
    font-style:normal;
    line-height:1.25em;
}

img {
    max-width:100%;
    height:auto;
}


/* =======================================================
========================== Hide ==========================
======================================================= */

.hide {
    display:none;
}
