
.head {

    position:relative;
    background:$primaryColor;
    min-height:55px;
    // padding-left: 50px;

    .intro {
        padding:14px 12px 9px;
    }

    h1 {
        @include font-size(14);
        color:$white;
        font-weight:$bold;
        display: inline-block;
        padding:0 20px;
        vertical-align: top;

        em {
            padding-left:10px;
            font-weight:$reg;
            font-style:normal;
            @include font-size(9);
        }
    }

    .row {
        margin-bottom:0;
    }

    i {
        color:$white;
        @include font-size(17);
    }

    a {
        color:$white;
    }

    .button {
        display:inline-block;
        vertical-align: middle;
        padding:0 5%;
        color:$white;

        span {
            position:relative;
            color:$white;
        }

        a {
            position:relative;
            display:inline-block;
            text-align: right;
            vertical-align: top;
        }

        i {
            @include font-size(19);
            line-height:1;
        }

        &.last {
            position:relative;
            text-align: right;
            padding-right:32px;
            padding-left: 3%;

            span {
                text-align: left;
                width:100%;
                @include font-size(8);
            }

            strong {
                float:left;
                @include font-size(17);
                line-height:1.5;
                font-weight:bold;
                text-align: left;
                font-weight:500;
                width:100%;
                text-align: left;
            }

            &:hover {
                background:none;
            }

            a {
                position:absolute;
                bottom:32px;
                right:0;
                display:inline-block;
                text-align: right;
                vertical-align: top;
            }

            i {
                position:absolute;
                top: 4px;
                right: 18px;
            }

        }
    }
}


/* =======================================================
================ Header Dropdown Button ==================
======================================================= */

.drop {
    position:relative;
    @include transition(all 0.5s);

    a {
        padding:30px 35px 30px;

        &:before {
            content:"\E853";
            color:$white;
            @include font-size(20);
            line-height:1;
            font-family: $iconFont;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 25px;
            margin: auto;
        }
    }

    &:after {
        content:"\E313";
        display:block;
        color:$white;
        @include font-size(20);
        font-family: $iconFont;
        line-height:1;
        position:absolute;
        top:0;
        right:12px;
        bottom:0;
        margin:auto;
        height:24px;
        @include rotate(0);
        @include transition(all 0.5s);
    }

    &:hover, &.active {
        background:$primaryColorTertiary;

        &:after {
            content:"\E313";
            @include rotate(-180);
        }

        & + div {
            display:block;
        }

        i {
            display:none;

            &.up {
                display:inline;
            }
        }

    }

}

/* =======================================================
================ Header Account Dropdown =================
======================================================= */

.dropdown {
    display:none;
    background:$sixnaryColor;
    border-left:solid 1px $quartenaryColor;
    border-right:solid 1px $quartenaryColor;
    border-bottom:solid 1px $quartenaryColor;
    position:absolute;
    top:84px;
    right: 20px;
    padding: 15px 0;
    text-align: left;
    min-width:300px;
    z-index: 50;

    &:before {
        content:"";
        width: 0;
        height: 0;
        position:absolute;
        top:-8px;
        right:122px;
        display:block;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $sixnaryColor;
    }

    p {
        margin:0;
        padding:0;
        display:block;
        width:100%;
    }

    &:hover {
        display:block;
    }

    .buttons {
        width:46%;

        &.primary {
            margin-right:7%;
        }
    }

    .row {
        padding:0 10px 0;

        &.border {
            border-color:$quartenaryColor;
            background:$white;
            margin-top:15px;
            padding:15px 10px 0;
        }

    }
}


/* =======================================================
===================== Page Header ========================
======================================================= */

.page-header {
    margin:15px 0;

    p {
        margin:0;
        font-weight:bold;
        padding:10px 0 0 0;
        display:inline-block;
    }
}

/* =======================================================
=========================== Aside ========================
======================================================= */

aside {
    width:100%;
}

.sidebar {
    .content {
        padding:10px;
    }
}


/* =======================================================
================= Background Container ===================
======================================================= */

.shaded {
    background:$sixnaryColor;
}

.light {
    background:$white;
    border:solid 1px $quinaryColor;

    h3 {
        margin:0 0 8px;
    }
}

/* =======================================================
=================== Content Container ====================
======================================================= */

.outer-container {
  // overflow-x:hidden;
  display: flex;
}

.content {
    width: 100%;
    @include transition(all 0.5s);

    .inner {
        padding-left:15px;
        padding-top:16px;
        padding-bottom:16px;
        padding-right:16px;
        overflow-x: hidden;
    }

    // &.open {
    //     width:93%;
    //     transform: translate(100px, 0);
    //
    //     .inner {
    //       width: calc(100% - 16px);
    //     }
    // }

    // @media only screen and (min-width: 1350px) {
    //   &.open {
    //     .inner {
    //         width: calc(100% - 5px);
    //     }
    //   }
    // }
    //
    // @media only screen and (max-width: 1300px) {
    //   &.open {
    //     .inner {
    //         width: calc(100% - 10px);
    //     }
    //   }
    // }

    // @media only screen and (max-width: 1140px) {
    //   &.open {
    //     .inner {
    //         width: calc(100% - 35px);
    //     }
    //   }
    // }
    //
    // @media only screen and (max-width: 1060px) {
    //   &.open {
    //     .head {
    //       padding-right: 2.3333%;
    //     }
    //   }
    // }

}

.results {
    margin-top:20px;
}


/* =======================================================
=================== Load More Button  ====================
======================================================= */
.load-more-btn {
  margin-left: 25%;
  text-align: center;

  & .button {
    width: 100%;
    background-color: $lightGrayBorder;

    & button {
      background-color: $lightGrayBorder;
      border: none;
      padding: 10px;
      width: 100%;
      font-size: 18px;
    }

    & button:hover {
        background-color:$buttonBlue;
        cursor: pointer;
        color: white;
        @include transition(background-color 0.25s linear);
    }

    & label {
      float: none;
      height: 50px;
      width: 100%;
    }

    & label span {
      width: 25%;
      padding: 13px 38%;
      display: block;
      border-radius: 4px;
    }
  }
}

/* =======================================================
======================= Error Box ========================
======================================================= */

.error-box {
position: absolute;
left: 25%;
width: 50%;
border: 2px solid $errorBorder;
background: $errorBackground;
}

.info-box {
position: absolute;
left: 25%;
width: 50%;
border: 2px solid $infoBorder;
background: $infoBackground;

}


/* =======================================================
======================= Collapsible ======================
======================================================= */

.Collapsible  {
  span {
    position:relative;;
    width:100%;
    display:inline-block;
    background:$sixnaryColor;
    font-weight:bold;
    padding:15px 0;
    cursor:pointer;
    text-indent:10px;

    &.is-closed {
      &:after {
        content:"Open";
        position:absolute;
        text-indent:0;
        padding:5px 10px;
        top:10px;
        right:10px;
        background:$white;
        color:$quartenaryColor;
        border:solid 1px $buttonBlue;
      }
    }

    &.is-open {
      &:after {
        content:"\E5CD";
        position:absolute;
        padding:5px 10px;
        text-indent:0;
        top:10px;
        right:10px;
        background:$white;
        color:$quartenaryColor;
        border:solid 1px $buttonBlue;
      }
    }
  }


}
